html {
    background: linear-gradient(0deg,rgba(0, 62, 176, 1) 0%, rgba(20, 92, 217, 1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin: 0;
}

a, p, h1, h2, h3, label, button, input, textarea {
    font-family: "Baloo Bhaijaan", Arial, sans-serif;
}

small {
    font-size: 14px;
}

.language {
    position: absolute;
    z-index: 10;
    left: 20px;
    top: 10px;
    color: white;
    font-size: 20px;
}

overlay {
    height: 100%;
    width: 100%;
    background-color: #003eb0;
    z-index: 500;
    transition: opacity 1s;
    position: fixed;
}

lottie-player {
    z-index: 600;
}

#logo {
    width: 40%;
    animation: 2s infinite alternate linear floating;
}

.social {
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.social a:has(img) {
    height: 60px;
}

.social img {
    height: 60px;
    cursor: pointer;
    margin: 0;
}

.screenshot img {
    position: absolute;
    left: 10%;
    transform: rotate(350deg);
    border-radius: 20px;
    animation: 4s infinite alternate ease-in-out rotating;
    height: 75%;
}

.screenshot.second img {
    animation: 4.05s infinite alternate-reverse ease-in-out -0.5s rotating;
    left: 70%;
}

#boot {
    position: absolute;
    top: 50%;
    left: 2%;
    width: 100%;
    transform: scale(1.5);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    height: 60%;
    width: 60%;
    font-size: 3vh;
}

form label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea, form label {
    width: 100%;
    border-radius: 10vh;
    border: none;
}

form textarea {
    height: 20vh;
    font-size: 2vh
}

form input[name="email"] {
    width: 40vh;
    text-align: center;
    font-size: 2vh
}

form textarea {
    padding: 4vh;
    resize: none;
}

button {
    border-radius: 10vh;
    border: 0.5vh solid white;
    width: 20vh;
    height: 8vh;
    background-color: rgb(20, 92, 217);
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(10, 78, 190);
}

button:active {
    background-color: rgb(0, 62, 176);
}

#formsent {
    display: none;
}

@media (max-width:725px) {
    #boot {
        left: 8%;
        top: 45%;
    }

    .social {
        width: 80%;
        margin-bottom: 0;
    }

    .screenshot img {
        position: relative;
        left: 0 !important;
    }

    .screenshot {
        display: contents;
    }
}

@keyframes rotating {
    0% {
        transform: rotate(356deg);
    }

    100% {
        transform: rotate(357.5deg);
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 8px);
    }
}
