html {
    background-color: #37003a;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin: 0;
}

form {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 100%;
    width: 100%;
}

label {
    font-size: 40px;
}

p {
    font-size: 40px;
}

a:link, a:visited {
    position: absolute;
    z-index: 10;
    left: 20px;
    top: 10px;
    color: white;
    font-size: 20px;
}

#detail {
    font-size: 15px;
    color: #d9d9d9;
    bottom: 10px;
    position: fixed;
}

#dummy-frame, #contact-text {
    display: none;
}

#send-email {
    background-color: #9d34d3;
    border: none;
    border-radius: 20px;
    height: 60px;
    width: 60%;
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

#email-input {
    height: 40px;
    width: 40%;
    border: none;
    border-radius: 0px;
}
